    <% @tasks.each do |task|%>
    <tr>
      <td class="task_table_name"><%= link_to task.name,task_path(task) %></td>
      <td><%= task.require_people_name %></td>
      <td><%= task_user_by_dep task,1 %></td>
      <td><%= task_user_by_dep task,2 %></td>
      <td><%= convet_time_to_m_d task.created_at %></td>
      <td><%= convet_time_to_m_d task.submit_test_date %></td>
      <td><%= convet_time_to_m_d task.submit_test_over_date %></td>
      <td><%= convet_time_to_m_d task.submit_deliver_date %></td>
      <td><span class="task_state"><%=link_to task.state.name,edit_task_path(task) %></span></td>
    </tr>
    <% end %>
      
