<nav>
<%= link_to "全部",tasks_path,:class=>"selected" %>
<%= link_to "本周",thisweek_tasks_path %>
<%= link_to "今日",today_tasks_path%>
<%= link_to "我的任务",me_tasks_path%>
<div class="new_task_btn_outer"><%= link_to raw('<span class="plus icon"></span>添加新任务'),new_task_path,:class => "button " %></div>
</nav>
<div class="sub_nav">
  <% unless @states.blank?%>
    <span class="by_group_check">
      <div>任务状态</div>
      <div class="group_list">
    <% for state in @states%>
      <%= link_to state.name,by_state_tasks_path+"?stateid="+state.id.to_s%>
    <%end%>
      </div>
    </span>
  <%end%>
  <% unless @users_developers.blank?%>
    <span class="by_group_check">
      <div>开发人员</div>
      <div class="group_list">
    <% for user in @users_developers%>
      <%= link_to user.name,by_user_tasks_path+"?userid="+user.id.to_s%>
    <%end%>
      </div>
    </span>
  <%end%>

  <% unless @users_testers.blank?%>
    <span class="by_group_check">
      <div>测试人员</div>
      <div class="group_list">
    <% for user in @users_testers%>
      <%= link_to user.name,by_user_tasks_path+"?userid="+user.id.to_s%>
    <%end%>
      </div>
    </span>
  <%end%>
</div>
<% if @tasks.blank?%>
  <div class="no_task">没有任务</div>
<%else%>
  <div class="task_list">
  <table>
    <tr class="include_link_th">
      <th>任务名</th><th>需求人员</th><th>开发人员</th><th>测试人员</th><th><%= link_to '需求提交',tasks_path %></th><th><%= link_to '提交测试',tasks_path + '?order_by=submit_test_date'%></th><th><%= link_to '测试完成',tasks_path + '?order_by=submit_test_over_date'%></th><th><%= link_to '发外网',tasks_path + '?order_by=submit_deliver_date'%></th><th><%= link_to '当前状态',tasks_path + '?order_by=state_id'%></th>
    </tr>
    <%= render :partial => "tasks/tasklist" %>
      </table>           
</div>
<%end%>
<%= will_paginate @tasks %>
      
