<div class="edit_task_page_title">
  添加新任务
</div>
 <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <div class="edit_task_form">
  <% form_for @task,:html => { :multipart => true } do |t|%>
    <table class="edit_task_table">
      <tr>
        <td class="task_attr_name">任务名：</td><td><%= t.text_field :name ,:required=>true%></td>
      </tr>
      <tr>
        <td class="task_attr_name">任务状态：</td><td><%= t.select :state_id, state_options %></td>
      </tr>
      <tr>
        <td class="task_attr_name">提测时间：</td><td><%= t.text_field :submit_test_date,:pattern => '(([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})-(((0[13578]|1[02])-(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)-(0[1-9]|[12][0-9]|30))|(02-(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))-02-29)',:title=>'例如：2011-05-06',:class=>'datepicker'%></td>
      </tr>
      <tr>
        <td class="task_attr_name">测试完成：</td><td><%= t.text_field :submit_test_over_date,:pattern => '(([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})-(((0[13578]|1[02])-(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)-(0[1-9]|[12][0-9]|30))|(02-(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))-02-29)',:title=>'例如：2011-05-06',:class=>'datepicker'%></td>
      </tr>
      <tr>
        <td class="task_attr_name">发外网时间：</td><td><%= t.text_field :submit_deliver_date,:pattern => '(([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})-(((0[13578]|1[02])-(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)-(0[1-9]|[12][0-9]|30))|(02-(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))-02-29)',:title=>'例如：2011-05-06',:class=>'datepicker'%></td>
      </tr>
      <tr>
        <td class="task_attr_name">需求人员：</td>
        <td>
          <%= t.text_field :require_people_name %>
        </td>
      </tr>
      <tr>
        <td class="task_attr_name">开发人员：</td>
        <td>
          <% unless  @users_developers.blank? %>
            <% for user in @users_developers%>
              <%= check_box_tag "task[user_ids][]",user.id,@task.users.include?(user)%><%= user.name%>
            <%end%>
          <%end%>
        </td>
      </tr>
      <tr>
        <td class="task_attr_name">测试人员：</td>
        <td>
          <% unless  @users_testers.blank? %>
          <% for user in @users_testers%>
            <%= check_box_tag "task[user_ids][]",user.id,@task.users.include?(user)%><%= user.name%>
          <%end%>
        <%end%>
        </td>
      </tr>
      <tr>
        <td class="task_attr_name">备注：</td><td><%= t.text_area :description%></td>
      </tr>
      <% t.fields_for :attachments do |builder| %>
     <tr>
        <td class="task_attr_name">附件：</td>   
        <td><%= builder.file_field :pic %>  </td>
     </tr>
      <% end %> 
      
    </table>
    <div class="edit_task_submit_outer"> <%= t.submit '创建任务' %></div>
  <%end%>
</div>
<div class="related_link_group">
  <%= link_to raw('<span class="leftarrow icon"></span>返回任务列表'), tasks_path,:class=>'back button'%>
</div>
</div>
