<nav>
<%= link_to "全部",tasks_path,:class=>"selected" %>
<%= link_to "本周",thisweek_tasks_path %>
<%= link_to "今日",today_tasks_path%>
<%= link_to "我的任务",me_tasks_path%>
</nav>
<div class="sub_nav">
  <div class="subnav_blank">
    搜索出<%=@tasks.size.to_s %>个任务
  </div>	
</div>
<% if @tasks.blank?%>
  <div class="no_task">没有任务</div>
<%else%>
  <div class="task_list">
  <table>
    <tr class="include_link_th">
      <th>任务名</th><th>需求人员</th><th>开发人员</th><th>测试人员</th><th>需求提交</th><th>提交测试</th><th>测试完成</th><th>发外网</th><th>当前状态</th>
    </tr>
    <%= render :partial => "tasks/tasklist" %>
      </table>           
</div>
<%end%>
<%= link_to raw('<span class="leftarrow icon"></span>返回任务列表'), tasks_path,:class=>'back button'%>
