<div class="edit_task_page_title">
  <%= @task.name %>
</div>
<div class="task_info">
  <div id="task_show_view_state"><%= @task.state.name %></div>
  <div class="task_info_content">
  <table class="edit_task_table">
    <tr>
      <td class="task_attr_name">任务名称：</td><td><%= @task.name %></td>
    </tr>
    <tr>
      <td class="task_attr_name">提测时间：</td><td><%=convet_time_to_m_d @task.submit_test_date%></td>
    </tr>
    <tr>
      <td class="task_attr_name">测试完成：</td><td><%=convet_time_to_m_d @task.submit_test_over_date%></td>
    </tr>
    <tr>
      <td class="task_attr_name">发外网时间：</td><td><%=convet_time_to_m_d @task.submit_deliver_date%></td>
    </tr>
     <tr>
      <td class="task_attr_name">需求人员：</td><td><%=@task.require_people_name%></td>
    </tr>
     <tr>
      <td class="task_attr_name">开发人员：</td><td><%=task_user_by_dep @task,1%></td>
    </tr>
     <tr>
      <td class="task_attr_name">测试人员：</td><td><%=task_user_by_dep @task,2%></td>
    </tr>
    <tr>
      <td class="task_attr_name">备注：</td><td><%= @task.description %></td>
    </tr>
    <tr>
      <td class="task_attr_name">附件：</td><td><% for attachment in @task.attachments %> <%= link_to attachment.pic.original_filename, attachment.pic.url %><% end %></td>
    </tr>
  </table>
  </div>
  <div class="set_task_history_btn">
    <%= link_to raw('<span class="leftarrow icon"></span>返回任务列表'), tasks_path,:class=>'back button' %><br/>
    <a href="#" class="button" id="apply_to_test_in_task_history" name="4"><span class="uparrow icon"></span>提交测试</a><br/>
    <a href="#" class="negative button" id="test_failed_in_task_history" name="2"><span class="reload icon"></span>测试打回</a><br/>
    <a href="#" class="positive button" id="test_pass_in_task_history" name="6"><span class="check icon"></span>测试通过</a>
</div>
<div class="clear"></div>
</div>


<%= render :partial => "task_histories/task_history" %>
<div id="task_history_form">
<%= form_for @task_history, :url => task_task_histories_path(@task),:html => { :multipart => true } do |f| %>
  <%= f.text_area :content,:required=>true %>
  <% f.fields_for :attachments do |builder| %>
    <%= builder.file_field :doc %>
  <% end %>
  <%= f.select :state_id, state_options %>
  <%= f.submit '提交' %>
 <% end %>
</div>
