<div class="edit_task_page_title">
  <%= link_to '任务列表',tasks_path %> / <%=link_to @task.name,@task %>
</div>
<div class="task_info">
  <table class="edit_task_table">
    <tr>
      <td class="task_attr_name">任务名称：</td><td><%= @task.name %></td>
    </tr>
    <tr>
      <td class="task_attr_name">任务状态：</td><td><%= @task.state.name %></td>
    </tr>
    <tr>
      <td class="task_attr_name">提测时间：</td><td><%=convet_time_to_m_d @task.submit_test_date%></td>
    </tr>
    <tr>
      <td class="task_attr_name">测试完成：</td><td><%=convet_time_to_m_d @task.submit_test_over_date%></td>
    </tr>
    <tr>
      <td class="task_attr_name">发外网时间：</td><td><%=convet_time_to_m_d @task.submit_deliver_date%></td>
    </tr>
     <tr>
      <td class="task_attr_name">需求人员：</td><td><%=@task.require_people_name%></td>
    </tr>
     <tr>
      <td class="task_attr_name">开发人员：</td><td><%=task_user_by_dep @task,1%></td>
    </tr>
     <tr>
      <td class="task_attr_name">测试人员：</td><td><%=task_user_by_dep @task,2%></td>
    </tr>
    <tr>
      <td class="task_attr_name">备注：</td><td><%= @task.description %></td>
    </tr>    
  </table>
</div>
<div><%= link_to '提交测试', new_task_task_history_path(@task),:class=>'button' %> <%= link_to '测试打回', new_task_task_history_path(@task),:class=>'negative button' %> <%= link_to '测试通过', new_task_task_history_path(@task),:class=>'positive button' %> <%= link_to raw('<span class="leftarrow icon"></span>返回任务列表'), tasks_path,:class=>'back button' %></div>


<%= render :partial => "task_histories/task_history" %>

