<div class="edit_task_page_title">
  <%= @task.name %>
</div>
<div class="task_info">
  <table class="edit_task_table">
    <tr>
      <td class="task_attr_name">任务名称：</td><td><%= @task.name %></td>
    </tr>
    <tr>
      <td class="task_attr_name">任务状态：</td><td><%= @task.state.name %></td>
    </tr>
    <tr>
      <td class="task_attr_name">提测时间：</td><td><%=convet_time_to_m_d @task.submit_test_date%></td>
    </tr>
    <tr>
      <td class="task_attr_name">测试完成：</td><td><%=convet_time_to_m_d @task.submit_test_over_date%></td>
    </tr>
    <tr>
      <td class="task_attr_name">发外网时间：</td><td><%=convet_time_to_m_d @task.submit_deliver_date%></td>
    </tr>
     <tr>
      <td class="task_attr_name">需求人员：</td><td><%=@task.require_people_name%></td>
    </tr>
     <tr>
      <td class="task_attr_name">开发人员：</td><td><%=task_user_by_dep @task,1%></td>
    </tr>
     <tr>
      <td class="task_attr_name">测试人员：</td><td><%=task_user_by_dep @task,2%></td>
    </tr>
    <tr>
      <td class="task_attr_name">备注：</td><td><%= @task.description %></td>
    </tr>
    <tr>
      <td class="task_attr_name">附件：</td><td><% for attachment in @task.attachments %><%= link_to attachment.pic.name, attachment.pic.url %><% end %></td>
    </tr>
 
    

  </table>
</div>
<div class="set_task_history_btn">
  <a href="#" class="button" id="apply_to_test_in_task_history" name="4">提交测试</a>
  <a href="#" class="negative button" id="test_failed_in_task_history" name="2">测试打回</a>
  <a href="#" class="positive button" id="test_pass_in_task_history" name="6">测试通过</a>
  <%= link_to raw('<span class="leftarrow icon"></span>返回任务列表'), tasks_path,:class=>'back button' %>
</div>

<%= render :partial => "task_histories/task_history" %>
<div id="task_history_form">
<%= form_for @task_history, :url => task_task_histories_path(@task) do |f| %>
  <%= f.text_area :content,:required=>true %>
  <%= f.select :state_id, state_options %>
   <%= f.submit '提交' %>
 <% end %>
</div>
