<!DOCTYPE html>
<html>
<head>
  <title>平台项目进度表</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="container">
    <header><%= link_to "平台项目进度表",tasks_path %>
    <%= form_tag search_tasks_path,:method => :get do %>
      <%= text_field_tag "keyword","",:Placeholder => "任务名" %>
    <%end%>
    <div class="setting"><%= link_to '设置用户',users_path %></div>
    </header>
    <div class="content">
      <div class="flash_notice"><%= flash[:notice] %></div>
    <%= yield %>
  </div>
  </div>
</body>
</html>
